-# frozen_string_literal: true
= simple_form_for(@weekly_stat) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :week_number
    = f.input :weekend_number
    = f.input :launched_at
    = f.input :shutdown_at

  .form-actions
    = f.button :submit, class: 'button'
